<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Bait</title>
		<meta name="description" content="Make links your friends can't resist to click">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./css/style.css">
		<script async defer src="./js/refresh.js"></script>
		<script async defer src="./js/postLink.js"></script>
		<script async defer src="./js/allowedSites.js"></script>
	</head>
	<body>
		<div id="content">
			<div id="messages">
				<div id="message-box-container" class="flex">
					<input id="message-box" placeholder="Paste a link from an allowed site..." onchange="imagePreview.src = imageLink.value;"></input>
					<div class="tooltip flex">
						<img id="site-icon" src="./icons/help.svg" style="filter: invert(1)">
						<div id="site-tooltip" class="tooltip-text" role="tooltip">
							<h5 class="sans-serif">You are only allowed to redirect these sites:</h5>
							<p id="site-list"><%= siteNames %></p>
						</div>
					</div>
				</div>
				<div id="embed">
					<div class="flex">
						<div>
							<input id="title" class="embed-field link sans-serif required" placeholder="Title (required)"></input>
							<textarea maxlength="75" id="description" class="embed-field sans-serif" placeholder="Description"></textarea>
						</div>

						<img id="image-preview" src="">
					</div>
				</div>
				<div class="flex">
					<label for="Color" class="sans-serif">Pick a color →</label>
					<input value="#40444B" id="color" type="color" class="sans-serif">
				</div>
				<div class="flex">
					<input id="image" class="link sans-serif" placeholder="Paste an image URL...">
					<button id="refresh" class="secondary sans-serif" onclick="refresh()">Preview</button>
				</div>
				<div class="flex">
					<button id="generate" class="primary sans-serif" onclick="post()">Generate!</button>
				</div>
			</div>
		</div>
	</body>
</html>
