<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Linkbait</title>
		<meta name="description" content="Make links your friends can't resist clicking.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Linkbait" >
		<meta property="og:description" content="Make links your friends can't resist clicking.">
		<meta content="#7289DA" name="theme-color">
		<link rel="stylesheet" href="./css/style.css">
		<script async defer src="./js/refresh.js"></script>
		<script async defer src="./js/postLink.js"></script>
		<script async defer src="./js/allowedSites.js"></script>
		<script async defer src="./js/gotoEmbed.js"></script>
	</head>
	<body>
		<div id="content">
			<!-- Landing -->
			<div id="landing" aria-hidden="false">
				<div class="flex">
					<img alt="" height="64" width="64" src="./icons/link.svg" style="filter: invert(1)">
					<h1 class="sans-serif">Linkbait</h1>
				</div>
				<p class="sans-serif center">Make links your friends can't resist clicking.</p>
				<hr>

				<noscript>
					<style>
						#goto-embed { display: none; }
					</style>
					<div class="flex">
						<div>
							<p class="sans-serif">You need to enable JavaScript.</p>
							<p class="sans-serif">This site has no trackers or garbage, if that's what you're worried about.</p>
							<p class="sans-serif">The source code is below.</p>
						</div>
					</div>
				</noscript>

				<div class="flex">
					<button id="goto-embed" class="landing-button flex primary" onclick="gotoEmbed()">
						<img alt="" height="32" width="32" src="./icons/link.svg">
						<p class="sans-serif primary">Make a link</p>
					</button>
				</div>
				<div class="flex">
					<a style="width: 100%" href="https://github.com/EmeraldSnorlax/bait" target="_blank" rel="noopener" class="flex">
						<button class="landing-button flex">
							<img alt="" height="32" width="32" src="./icons/code.svg">
							<p class="sans-serif">Source Code (GNU AGPLv3)</p>
						</button>
					</a>
				</div>
			</div>

			<!-- Generating the link -->
			<div class="hidden" aria-hidden="true" id="messages">
				<div id="message-box-container" class="flex">
					<input id="message-box" placeholder="Paste a link from an allowed site..." onchange="imagePreview.src = imageLink.value;"></input>
					<div class="tooltip flex">
						<img alt="" id="site-icon" src="./icons/help.svg" style="filter: invert(1)">
						<div id="site-tooltip" class="tooltip-text" role="tooltip">
							<h5 class="sans-serif">You are only allowed to redirect these sites:</h5>
							<p id="site-list"><%= siteNames %></p>
						</div>
					</div>
				</div>
				<div id="embed">
					<div class="flex">
						<div>
							<input id="title" class="embed-field link sans-serif required" placeholder="Title (required)"></input>
							<textarea maxlength="75" id="description" class="embed-field sans-serif" placeholder="Description"></textarea>
						</div>

						<img alt="A preview of your optional uploaded image." id="image-preview" src="">
					</div>
				</div>
				<div class="flex">
					<label for="Color" class="sans-serif">Pick a color →</label>
					<input value="#40444B" id="color" type="color" class="sans-serif">
				</div>
				<div class="flex">
					<input id="image" class="link sans-serif" placeholder="Paste an image URL...">
					<button id="refresh" class="secondary sans-serif" onclick="refresh()">Preview</button>
				</div>
				<div class="flex">
					<button id="generate" class="primary sans-serif" onclick="post()">Generate!</button>
				</div>
			</div>
			<footer class="flex">
					<div class="sans-serif center">
						<p>Copyleft EmeraldSnorlax + contributors</p>
						<p>GNU AGPLv3</p>
						<br>
						<p>I can make no guarantees about uptime or reliability of posted links.</p>
						<p><a href="https://github.com/EmeraldSnorlax/bait/blob/main/PRIVACY.md" style="text-decoration: underline; color: skyblue;">Privacy</a></p>
					</div>
			</footer>
		</div>
	</body>
</html>
